.aboutContainer {
  margin-top: 104px;
}

.subtitle {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--line);
  letter-spacing: 3px;
  display: block;
  @media screen and (max-width: 768px) {
    font-size: 1.4rem;
  }
}

.description {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 38px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  @media screen and (max-width: 768px) {
    font-size: 1.8rem;
  }
}

.lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'tools spotify' 'feTools topTracks';
  margin-top: 200px;

  @media screen and (max-width: 640px) {
    margin-top: 100px;
    grid-template-areas: 'spotify' 'tools' 'topTracks' 'feTools';
  }

  h3 {
    font-size: 7.2rem;
    font-weight: 700;
    @media screen and (max-width: 768px) {
      font-size: 5.6rem;
    }
  }

  ul {
    margin-top: 40px;
  }

  li {
    width: 80%;
    padding-left: 16px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--line);
  }

  span {
    color: var(--line);
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
  }

  p {
    font-size: 2.4rem;
    margin-top: 8px;
  }
}

.listeningHeading {
  display: flex;
  align-items: center;
  gap: 32px;
}

.icon {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 32px;
  height: 32px;

  span {
    width: 6px;
    height: 100%;
    background-color: var(--purple);
    border-radius: 3px;
    transform-origin: bottom;
    content: '';
  }
}

.spotifyBox {
  display: grid;
  grid-template-areas: 'spotifyIcon title' 'spotifyIcon subtitle';
  grid-template-columns: 48px 1fr;
  grid-column-gap: 16px;
  margin-top: 32px;
  margin-left: 64px;
  width: 300px;

  a {
    grid-area: spotifyIcon;
  }

  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.6rem;
    grid-area: title;
    margin-top: 0;
  }

  span {
    color: var(--line);
    font-size: 1.4rem;
    letter-spacing: 0;
    text-transform: none;
    grid-area: subtitle;
  }
}

.tools {
  grid-area: tools;
  margin-top: 80px;
}

.topTracks {
  grid-area: topTracks;
  grid-row-start: 1;
  margin-top: 300px;

  @media screen and (max-width: 768px) {
    margin-top: 250px;
  }

  @media screen and (max-width: 640px) {
    margin-top: 80px;
    grid-row-start: initial;
  }
}

.feTools {
  margin-top: 80px;
}
