* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  background-image: url('/bg.svg');
  background-position: center;
  background-color: #fcfcfc;
  color: #14142b;

  font-family: Inter;
  font-size: 1.6rem;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  border: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #14142b;
}
