.headerBox {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 42px;

  ul {
    display: flex;

    li:nth-child(2) {
      margin-left: auto;
      margin-right: 32px;
    }
  }
}
