.bannerContainer {
  margin-top: 130px;
}

.name {
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: -1px;

  @media screen and (max-width: 640px) {
    font-size: 1.8rem;
  }
}

.line {
  position: relative;
  overflow: hidden;
  height: 113px;

  @media screen and (max-width: 768px) {
    height: 74px;
  }

  @media screen and (max-width: 640px) {
    height: 47px;
  }

  &:nth-child(3) {
    margin-left: 300px;

    @media screen and (max-width: 768px) {
      margin-left: 100px;
    }

    @media screen and (max-width: 640px) {
      margin-left: 64px;
    }
  }

  &:nth-child(4) {
    margin-left: 600px;

    @media screen and (max-width: 768px) {
      margin-left: 350px;
    }

    @media screen and (max-width: 640px) {
      margin-left: 164px;
    }
  }

  span {
    font-size: 9.6rem;
    font-weight: 400;
    letter-spacing: -3px;
    position: absolute;

    @media screen and (max-width: 768px) {
      font-size: 7.2rem;
    }

    @media screen and (max-width: 640px) {
      font-size: 4rem;
    }
  }

  span:nth-child(2) {
    padding-left: 300px;
  }
}
